
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
}
  
  .container-fluid{
    justify-content: center;
  }
  
  .imagem{
    background: white;
  }
  
  .logo {
    max-width: 100%;
    height: auto;
  }
  
  .hr-blurry {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  }


  /**
  Estilos focados na página inicial (index.html) de busca
  */
  .botao{
  background: cloudy-knoxville-gradient;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  transition: box-shadow .25s;
  }

  
  .card-title {
    margin-bottom: 0.75rem;
    font-size: x-large;
    font-family: helvetica;
    font-weight: bold;
  }
  
  .card-text {
    margin-bottom: 0;
    text-align: justify;
  }

  .no-gutters>.col, .no-gutters>[class*=col-] {

    align-self: center;
}
  .video-background {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* for 16:9 aspect ratio */
    overflow: hidden;
}

.sobreWrapper {
    margin-bottom: 10px;
    color: blue; /* Faz o texto ficar azul claro */
    text-decoration: underline; /* Sublinha o texto para parecer um link */
    text-shadow:black
  }
  
.video-background video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
  
  .card {
    width:100%;
    text-align: -webkit-center;
    margin-bottom: 10px;
    align-items: center; 
    line-height: 1.42857143;
    border-radius: 12px;
    margin-bottom: 5%;
    background: cloudy-knoxville-gradient;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    transition: box-shadow .25s;
    overflow-y: clip;
  }

  .middleCard{
    height: 95% !important;

  }
  
  .card img {
    width:100%;
    height: auto;
  }
   
  .card:hover {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  }
  
  
  #coluna {
      background-color: white;
      border-radius: 12px;
      box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
      margin-bottom: 10px;
      margin-top: 10px;
      text-align: center;
  }
  
  
  /*
  Estilos focados na exibição de personagem.html, com o carousel de vídeos e descrição a fundo
  */
  
  #voltar{
  text-align: center;
  margin-top: 1vw;
  background: white;
  margin-bottom: 1vw;

  }

  .cardDescricao{
    padding-top: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center; 
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    transition: box-shadow .25s;
    overflow-y: auto; /* Add a vertical scrollbar */
    max-height: 500px;
  }
  
  @media screen and (max-width: 600px) {
    .card {
      width: 100%;
      max-width:100%;
      margin-bottom: 10px; /* Adjust margin as needed */
    }
  
    #coluna { 
      margin-top: 0;
      margin-bottom: 0;
    }
  
    #formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: -webkit-center;
    }
    .botaoPesquisa{
      margin-top: 10px;
      padding-top:10px;
      line-height:2px;
      
    }
  
      .btn {
      margin-top: 5px;
    
  }
  
  }
  
  
  
  
