/*
Definições em geral
*/

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f0;
}

.container-fluid{
  justify-content: center;
}

.logo {
  max-width: 100%;
  height: auto;
}

.hr {
  border: none;
  height: 1px;
  /* Set the hr color */
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.hr-blurry {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/**
Estilos focados na página inicial (index.html) de busca
*/

.busca-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: -webkit-center;
  height: 100vh;
}

.form-inline .form-control {
  display: inline-block;
  width: fit-content;
  vertical-align: middle;
}

.busca {
  padding: 20px;
  text-align: center;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
 }

.botaoPesquisa{
  padding-top: 50px;
 }

 /*
 Cartões de exibição do personagem para resultados.html e personagem.html
 */

.exibicao {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: -webkit-center;
  background-color: lightblue;
  border-radius: 10px;
  padding-bottom: 1vh;
  display: flex;
}

.cardContainer{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  max-width: 60vh;
  outline: black;
}
#nomePersonagem {
  margin-right: 10px;
}

.sobreWrapper {
  margin-bottom: 10px;
  color: blue; /* Faz o texto ficar azul claro */
  text-decoration: underline; /* Sublinha o texto para parecer um link */
  text-shadow:black
}

.card-title {
  margin-bottom: 0.75rem;
  font-size: x-large;
  font-family: helvetica;
  font-weight: bold;
}

.card-text:last-child {
  margin-bottom: 0;
  text-align: justify;
  text-align-last: center;
}

.card {
  width:100%;
  text-align: -webkit-center;
  align-items: center; 
  line-height: 1.42857143;
  border-radius: 12px;
  margin-bottom: 5%;
  background: cloudy-knoxville-gradient;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  transition: box-shadow .25s;
  overflow-y: clip;
}

.card img {
  width:100%;
  height: auto;
 }
 

.card:hover {
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.busca:hover {
  border-radius: 12px;
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

#coluna {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}


/*
Estilos focados na exibição de personagem.html, com o carousel de vídeos e descrição a fundo
*/

#voltar{
text-align: center;
margin-top: 1vw;
background: white;
margin-bottom: 1vw;
}
figure{
  display:none;
}


.descricaoPersonagem{
  text-align: justify;
  text-align-last: left;
  overflow-wrap: break-word;
  padding-left:10px;
  padding-right:10px;
  pointer-events: none;
  cursor: default;
  color: black;
  text-decoration: none;
}



.carousel-item {
  position: relative;
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  transition: -webkit-transform .6s ease;
  transition: transform .6s ease;
  transition: transform .6s ease,-webkit-transform .6s ease;
  /* -webkit-backface-visibility: hidden; */
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
perspective: 1000px; 
}

.cardDescricao{
  padding-top: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center; 
  line-height: 1.42857143;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  transition: box-shadow .25s;
  overflow-y: auto; 
  max-height: 500px;
  pointer-events: none;
  cursor: default;
  color: black;
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .card {
    width: 100%;
    max-width:100%;
  }

  #coluna { 
    margin-top: 0;
    margin-bottom: 0;
  }

  #formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: -webkit-center;
  }
  .botaoPesquisa{
    margin-top: 10px;
    padding-top:10px;
    line-height:2px;
    
  }

    .btn {
    margin-top: 5px;
  
}
}

