
  max-height: 500px;
}

@media screen and (max-width: 600px) {
  .card {
    width: 100%;
    max-width:100%;
  }

  #coluna { 
    margin-top: 0;
    margin-bottom: 0;
  }

  #formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: -webkit-center;
  }
  .botaoPesquisa{
    margin-top: 10px;
    padding-top:10px;
    line-height:2px;
    
  }

    .btn {
    margin-top: 5px;
  
}

}


